<div class="end">


<h1 style="position:absolute;font-size:80px;margin-top:100px;margin-left:600px">Thank You</h1>

<h4 style="position:absolute;margin-left:370px;margin-top:510px;">With each donation we receive, we become all that much closer to our goal.</h4>
<h4 style="position:absolute;margin-left:360px;margin-top:550px;"> Thank you for making a difference through your compassion and generosity.</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>

</div>







<router-outlet></router-outlet>