<div class="container-fluid">
<h2 style="position:absolute;font-size:60px;margin-left:530px;margin-top:30px;color:rgba(42, 188, 233, 0.745)">Categories of books</h2>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br><br>



  <div class="col-6">
  <br>
   
 
   
    <h2 style="position:absolute;font-size:40px;margin-left:50px;margin-top:-150px">Adventure</h2>

    <div class="imgs">
      <a target="_blank" href="../assets\a-2.pdf">
        <img src="../assets\adventure-2.jpg" alt="Cinque Terre" width="200" height="300" 
        style="position:absolute; left:80px; margin-top: -70px;" >
      </a>
      <p style="position:absolute;margin-left:70px;margin-top:-90px;color:black">ID-1</p>

    </div>
    <div class="imgs">
      <a target="_blank" href="../assets\a-1.pdf">
        <img src="../assets\adventure-1.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:330px; margin-top: -70px;">
      </a>
      <p style="position:absolute;margin-left:320px;margin-top:-90px;color:black">ID-2</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\a-3.pdf">
        <img src="../assets\adventure-3.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:580px; margin-top: -70px;">
      </a>
      <p style="position:absolute;margin-left:570px;margin-top:-90px;color:black">ID-3</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\a-4.pdf">
        <img src="../assets\adventure-4.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:830px; margin-top: -70px;">
      </a>
      <p style="position:absolute;margin-left:820px;margin-top:-90px;color:black">ID-4</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\a-5.pdf">
        <img src="../assets\adventure-5.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:1080px; margin-top: -70px;">
      </a>
      <p style="position:absolute;margin-left:1070px;margin-top:-90px;color:black">ID-5</p>
    </div>

    <h2  style="position:absolute;font-size:40px;margin-left:50px;margin-top:270px">Classic</h2>

 <div class="imgs">
      <a target="_blank" href="../assets\CL-1.pdf">
        <img src="../assets\classic-2.jpg" alt="Cinque Terre" width="200" height="300" 
        style="position:absolute; left:80px; margin-top: 350px;">
      </a>
      <p style="position:absolute;margin-left:70px;margin-top:330px;color:black">ID-6</p>
    </div>
    <div class="imgs">
      <a target="_blank" href="../assets\CL-2.pdf">
        <img src="../assets\classic-1.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:330px; margin-top: 350px;">
      </a>
      <p style="position:absolute;margin-left:320px;margin-top:330px;color:black">ID-7</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CL-3.pdf">
        <img src="../assets\classic-3.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:580px; margin-top: 350px;">
      </a>
      <p style="position:absolute;margin-left:570px;margin-top:330px;color:black">ID-8</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CL-4.pdf">
        <img src="../assets\classic-4.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:830px; margin-top: 350px;">
      </a>
      <p style="position:absolute;margin-left:820px;margin-top:330px;color:black">ID-9</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CL-5.pdf">
        <img src="../assets\classic-5.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:1080px; margin-top: 350px;">
      </a>
      <p style="position:absolute;margin-left:1070px;margin-top:330px;color: black;">ID-10</p>
    </div>
    <h2 style="position:absolute;font-size:40px;margin-left:50px;margin-top:680px">Crime</h2>

       <div class="imgs">
      <a target="_blank" href="../assets\CR-1.pdf">
        <img src="../assets\crime-2.jpg" alt="Cinque Terre" width="200" height="300"
        style="position:absolute; left:80px; margin-top: 760px;">
      </a>
      <p style="position:absolute;margin-left:70px;margin-top:740px;color:black">ID-11</p>
    </div>
    <div class="imgs">
      <a target="_blank" href="../assets\CR-2.pdf">
        <img src="../assets\crime-1.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:330px; margin-top: 760px;">
      </a>
      <p style="position:absolute;margin-left:320px;margin-top:740px;color:black">ID-12</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CR-3.pdf">
        <img src="../assets\crime-3.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:580px; margin-top: 760px;">
      </a>
      <p style="position:absolute;margin-left:570px;margin-top:740px;color:black">ID-13</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CR-4.pdf">
        <img src="../assets\crime-4.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:830px; margin-top: 760px;">
      </a>
      <p style="position:absolute;margin-left:820px;margin-top:740px;color:black">ID-14</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\CR-5.pdf">
        <img src="../assets\crime-5.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:1080px; margin-top: 760px;">
      </a>
      <p style="position:absolute;margin-left:1070px;margin-top:740px;color:black">ID-15</p>
    </div>

    <h2 style="position:absolute;font-size:40px;margin-left:50px;margin-top:1100px">Fairy Tales</h2>

     <div class="imgs">
      <a target="_blank" href="../assets\ft-1.pdf">
        <img src="../assets\fairy-2.jpg" alt="Cinque Terre" width="200" height="300"
        style="position:absolute; left:80px; margin-top: 1190px;">
      </a>
      <p style="position:absolute;margin-left:70px;margin-top:1170px;color:black">ID-16</p>
    </div>
    <div class="imgs">
      <a target="_blank" href="../assets\ft-2.pdf">
        <img src="../assets\fairy-1.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:330px; margin-top: 1190px;">
      </a>
      <p style="position:absolute;margin-left:320px;margin-top:1170px;color:black">ID-17</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\ft-3.pdf">
        <img src="../assets\fairy-3.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:580px; margin-top: 1190px;">
      </a>
      <p style="position:absolute;margin-left:570px;margin-top:1170px;color:black">ID-18</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\ft-4.pdf">
        <img src="../assets\fairy-4.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:830px; margin-top: 1190px;">
      </a>
      <p style="position:absolute;margin-left:820px;margin-top:1170px;color:black">ID-19</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\ft-5.pdf">
        <img src="../assets\fairy-5.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:1080px; margin-top: 1190px;">
      </a>
      <p style="position:absolute;margin-left:1070px;margin-top:1170px;color:black">ID-20</p>
    </div>

    <h2 style="position:absolute;font-size:40px;margin-left:50px;margin-top:1530px">Horror</h2>

    <div class="imgs">
      <a target="_blank" href="../assets\h-1.pdf">
        <img src="../assets\horror-2.jpg" alt="Cinque Terre" width="200" height="300"
        style="position:absolute; left:80px; margin-top: 1615px;">
      </a>
      <p style="position:absolute;margin-left:70px;margin-top:1595px;color:black">ID-21</p>
    </div>
    <div class="imgs">
      <a target="_blank" href="../assets\h-2.pdf">
        <img src="../assets\horror-1.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:330px; margin-top: 1615px;">
      </a>
      <p style="position:absolute;margin-left:320px;margin-top:1595px;color:black">ID-22</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\h-3.pdf">
        <img src="../assets\horror-3.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:580px; margin-top: 1615px;">
      </a>
      <p style="position:absolute;margin-left:570px;margin-top:1595px;color:black">ID-23</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\h-4.pdf">
        <img src="../assets\horror-4.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:830px; margin-top: 1615px;">
      </a>
      <p style="position:absolute;margin-left:820px;margin-top:1595px;color:black">ID-24</p>
    </div>
    <div class="imgs">
      <a target="_blank"
        href="../assets\h-5.pdf">
        <img src="../assets\horror-5.jpg" alt="Cinque Terre" width="200" height="300"
          style="position:absolute; left:1080px; margin-top: 1615px;">
      </a>
      <p style="position:absolute;margin-left:1070px;margin-top:1595px;color:black">ID-25</p>
    </div> 
    <button routerLink="/book" class="btn btn-dark"  style="position:fixed;margin-top:-250px"> Add Book</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    </div>
    </div>