

.bg_img{
  
    background-image: url(https://media.istockphoto.com/id/1251629816/photo/the-perfect-setting-to-complete-work.jpg?b=1&s=170667a&w=0&k=20&c=e8mSv3z6PhT18EUmzgtdMCbQecYzhHoqu_ts8tFdN6c=);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
   
    
}
.container{
    padding-left:35% ;
}
.col-4{
    font-size: 20px;
    
}
h1{
    border-top: 100px;    
}