<!DOCTYPE html>
<html>

<body>
  <div class="donation">
    <div class="container">
     
      <br>
      <br>

      <form>
        <label for="fname" style="color:rgba(139, 139, 219, 0.745)">Name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Enter the Name"><br><br>
        <label for="lname" style="color:rgba(139, 139, 219, 0.745)">Email:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter the Email"><br><br>
        <label for="fname" style="color:rgba(139, 139, 219, 0.745)">Address:</label><br>
        <input type="address" id="fname" name="fname" placeholder="Enter the Address"><br><br>
        <label for="lname" style="color:rgba(139, 139, 219, 0.745)">City:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter the City"><br><br>
        <label for="fname" style="color:rgba(139, 139, 219, 0.745)">State:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Enter the State"><br><br>
        <label for="lname" style="color:rgba(139, 139, 219, 0.745)">zipcode:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter the Zipcode"><br><br>
        <label for="lname" style="color:rgba(139, 139, 219, 0.745)">Amount</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter the Amount"><br><br>
      </form>
      
    </div>
    <form>
    <div class="demo">
      <h4 style="color:rgba(139, 139, 219, 0.745);font-size: 50px;margin-left: -30px;margin-top: 40px;">Payment Method:
      </h4>
      <br>


      <input type="radio" id="age1" name="age" value="30">
      <label for="age1" style="position:absolute;font-size: 20px;margin-top:-5px">GPay</label><br><br>
      <input type="radio" id="age2" name="age" value="60">
      <label for="age2" style="position:absolute;font-size: 20px;margin-top:-5px">Paypal</label><br><br>
      <input type="radio" id="age3" name="age" value="100">
      <label for="age3" style="position:absolute;font-size: 20px;margin-top:-5px">Debit/Credit Card</label><br><br>

      
    </div>

    </form>
    <button routerLink="/end"class="btn btn-primary" style="position:absolute; margin-top: -30px;margin-left: 1100px; height: 50px;">CONFIRM</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>






</body>

</html>