
<body>

  <div class="bg_img">
  <br>
  <br>
  <div class="deco1" style="position:absolute; margin-left: 100px;margin-top: 80px; color:rgb(214, 245, 247)">
    <p>Love on Books</p>
  </div>

  <div class="deco" style="position:absolute; left: 1000px; color:darkcyan">
    <br>
    <p style="position:absolute;margin-left:-910px;margin-top:-20px;font-size: 90px;">Welcome to open Library</p>
  </div>

 
  <br>
  <br>
  <button routerLink="/register-user" class="btn btn-primary"
    style="position:absolute; left: 1000px; right: 100px; margin-top: 350px; height: 60px;background-color: darkcyan;">RegisterHere</button>&nbsp;

  <button routerLink="/login" class="btn btn-primary"
    style="position:absolute; left:1000px; right: 100px; margin-top: 250px; height: 60px;background-color: darkcyan;">Login</button>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
<br>
  </div>
</body>
<router-outlet></router-outlet>